
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'news/base.css' %}">
        <title>Ecotextile</title>
        <style>
            /* Style the body */

        </style>
    </head>
    <body>
        <div class="header">
            <a class="logo">НАШИ НОВОСТИ</a>
            <div class="header-right">
                <a class="active" href="#home">HOME</a>
                <a href="#contact">CONTACT</a>
                <a href="#about">ABOUT</a>
            </div>
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>