
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'news/base.css' %}">
        <title>Ecotextile</title>
        <style>
            /* Style the body */

        </style>
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                <a class="header-logo">НАШИ НОВОСТИ</a>
                <div class="header-right">
                    <a class="active" href="#shop">МАГАЗИН</a>
                    <a href="#news">НОВОСТИ</a>
                    <a href="#about">О НАС</a>
                </div>
            </div>
            <div id="content">
                {% block content %}
                {% endblock %}
            </div>
            <footer class="footer">
                <a class="footer-logo">Магазин постельного белья<br>и текстильных изделий</a>
                <div class="footer-right">
                    <p class="info" >Адрес:</p>
                    <p class="info">Контакты:</p>
                </div>
            </footer>
        </div>
    </body>
</html>