{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'news/base.css' %}">
    <title>Ecotextile</title>
</head>
<body>
<div id="document">
    <div class="header">
        <a class="logo">НАШИ НОВОСТИ</a>
        <div class="header-right">
            <a href="#shop">МАГАЗИН</a>
            <a href="#news">НОВОСТИ</a>
            <a href="#about">О НАС</a>
        </div>
    </div>
    <main>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <div class="logo">Магазин постельного белья<br>и текстильных изделий</div>
        <div class="footer-right">
            <div class="child ">
                <div class="text-slide-bottom1">Наш Адрес</div>
                <div class="text-slide-bottom">Адрес: adres<br>
                    E-mail: e-mail<br>
                    Телефон: number
                </div>
            </div>
            <div class="child">
                <div class="text-slide-bottom1">Контакты</div>
                <a href="#vk">VK</a>
                <a href="#inst">Instagram</a>
                <a href="#facebook">Facebook</a>
            </div>

        </div>
    </footer>
</div>
</body>
</html>