.current{
    font-family: Montserrat;
    font-weight: medium;
    font-size: 22px;
}
.pagination{
    width: 100%;
}
.previous{
    float: left;
    margin: 1em;
    font-family: Montserrat;
    font-weight: medium;
    font-size: 20px;
}
.next{
    float: right;
    margin: 1em;
    font-family: Montserrat;
    font-weight: medium;
    font-size: 20px;
}