{% extends "news/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'news/detail.css' %}">
    <div class="post-title-link">{{ post.title }}</div>
    <div class="photo">
        <img src="{{post.main_image.url}}">
    </div>

    {% for image in images %}
    <img class="photo" src="{{image.image.url}}">
    {{image.attached_to.title}}
    {% endfor %}
{{ post.body|linebreaks }}
<div class="date">
    {{post.created}}
</div>
{% endblock %}