{% extends "news/base.html" %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'news/detail.css' %}">
<div style="height: 25%;">
    <div class="photo">
        <img class="main-image" src="{{post.main_image.url}}">
    </div>
    <div class="post-title-link">
        {{ post.title }}
    </div>
    <div class="title">
        {{ post.body|linebreaks }}
    </div>
    <div class="date">
        {{post.created}}
    </div>
</div>

<div id="gall">
    {% for image in images %}
    <img src="{{image.image.url}}" tabindex="0" border="3">
    {% endfor %}
    <div></div>
</div>
{% endblock %}