
{% extends "news/base.html" %}
{% block title %}My Blog{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'news/list.css' %}">
{% include "pagination.html" with page=posts %}
{% for post in posts %}
    <div class="view">

        <h2>
            <a class="post-title-link" href={{ post.get_absolute_url }}>{{ post.title }}</a>
        </h2>
        <img src="{{post.main_image.url}}" width="400" height="400">
        <div class="title">
            {{ post.body|truncatewords:30|linebreaks }}
        </div>
        <div class="date">
            Published {{ post.publish }} by {{ post.author }}
        </div>
    </div>
    {% endfor %}

{% endblock %}
