
{% extends "news/base.html" %}
{% block title %}My Blog{% endblock %}

{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'news/list.css' %}">
{% include "pagination.html" with page=posts %}
{% for post in posts %}
    <div class="view">


        <div class="photo tt ">
            <img  src="{{post.main_image.url}}">
        </div>
        <div class="title tt">
            <div class="post-title-link">
                <a class="post-title-link" href={{ post.get_absolute_url }}>{{ post.title }}</a>
            </div>
            <div>
            {{ post.body|truncatewords:30|linebreaks }}
            </div>
        </div>
        <div class="date">
            {{post.created}}
        </div>
    </div>
    {% endfor %}

{% endblock %}
